*{margin:0; padding:0;outline:none !important; font-family: 'RobotoL', Tahoma;}ul{list-style-type:none;}.clear{clear:both;}.fll{float:left;}.flr{float:right;}.fln{float:none;}.w100{width:100%;}.poa{position:absolute;}.pof{position:fixed;}.por{position:relative;}.db{display:block !important;}.dn{display:none;}
.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}.mt35{margin-top:35px;}.mt40{margin-top:40px;}.mt45{margin-top:45px;}.mt50{margin-top:50px;}.mt100{margin-top:100px;}
.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}.ml35{margin-left:35px;}.ml40{margin-left:40px;}.ml45{margin-left:45px;}.ml50{margin-left:50px;}.ml100{margin-left:100px;}
.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr25{margin-right:25px;}.mr30{margin-right:30px;}.mr35{margin-right:35px;}.mr40{margin-right:40px;}.mr45{margin-right:45px;}.mr50{margin-right:50px;}.mr100{margin-right:100px;}
.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}.mb35{margin-bottom:35px;}.mb40{margin-bottom:40px;}.mb45{margin-bottom:45px;}.mb50{margin-bottom:50px;}.mb100{margin-bottom:100px;}
.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pt25{padding-top:25px;}.pt30{padding-top:30px;}.pt35{padding-top:35px;}.pt40{padding-top:40px;}.pt45{padding-top:45px;}.pt50{padding-top:50px;}.pt100{padding-top:100px;}
.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pl25{padding-left:25px;}.pl30{padding-left:30px;}.pl35{padding-left:35px;}.pl40{padding-left:40px;}.pl45{padding-left:45px;}.pl50{padding-left:50px;}.pl100{padding-left:100px;}
.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pr25{padding-right:25px;}.pr30{padding-right:30px;}.pr35{padding-right:35px;}.pr40{padding-right:40px;}.pr45{padding-right:45px;}.pr50{padding-right:50px;}.pr100{padding-right:100px;}
.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}.pb30{padding-bottom:30px;}.pb35{padding-bottom:35px;}.pb40{padding-bottom:40px;}.pb45{padding-bottom:45px;}.pb50{padding-bottom:50px;}.pb100{padding-bottom:100px;}
.space5{height:5px;}.space10{height:10px;}.space15{height:15px;}.space20{height:20px;}.space25{height:25px;}.space30{height:30px;}.space35{height:35px;}.space40{height:40px;}.space45{height:45px;}.space50{height:50px;}.space55{height:55px;}.space60{height:60px;}.space65{height:65px;}.space70{height:70px;}.space75{height:75px;}.space80{height:80px;}.space85{height:85px;}.space90{height:90px;}.space95{height:95px;}.space100{height:100px;}.space125{height:125px;}.space150{height:150px;}.space175{height:175px;}.space200{height:200px;}.tac{text-align:center;}.tal{text-align:left;}.tar{text-align:right;}.p0{padding:0 !important;}.m0{margin:0 !important;}

.row {margin-left: 0; margin-right: 0;}

.content_target, .content_target p, .content_target li, .content_target div, .content_target span, .content_target dd, .content_target dt, .content_target td, .content_target a {font: 16px RobotoL, Tahoma; color: #575656;}
.content_target p, .content_target li, .content_target div {margin-bottom: 15px;}
.content_target {overflow: hidden;}
.content_target img {width: auto; height: auto; max-width: 100%;}

header {background: #444444; padding: 20px 15px;}
header ul {margin-bottom: 0;}
header .row {margin-bottom: 0;}
header .top_nav li {display: inline-block; margin: 0 10px;}
header .top_nav a {color: #c5c5c5; font: 14px "RobotoL", Tahoma;}

header .bot_nav li {display: inline-block; margin: 10px;}
header .bot_nav a {color: #fff; font: 21px 'RobotoB', Tahoma;}

header .top_nav a:hover, header .bot_nav a:hover {text-decoration: underline;}

header .phones li {display: inline-block; margin-right: 15px;}
header .phones li:first-child {padding-left: 25px; background: url('../img/phone_ico.png') left center no-repeat;}
header .phones li:last-child {margin-right: 0;}
header .phones a {color: #fff; font: 15px 'RobotoL', Tahoma;}
header .address a {font: 13px 'RobotoL', Tahoma; color: #fff;}

header .recall_btn {float: right; margin-top: 23px;}
header .recall_btn a {font: 13px 'RobotoL', Tahoma; color: #fff; background: #ab0200; padding: 10px 20px; border-radius: 30px; transition-duration: 0.3s; white-space: nowrap;}
header .recall_btn a:hover {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 3s infinite;}

header .header_right_side {padding-top: 13px !important; position: relative;}

@-webkit-keyframes shine {
    from {mask-position: 150%;-webkit-mask-position: 150%;-moz-mask-position: 150%; -o-mask-position: 150%; -ms-mask-position: 150%;}
    to {mask-position: -50%;-webkit-mask-position: -50%; -moz-mask-position: -50%; -o-mask-position: -50%; -ms-mask-position: -50%;}
}
.logo img:hover {-webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.8) 30%, #000 50%, rgba(255,255,255,.8) 70%); -webkit-mask-size: 200%; animation: shine 3s infinite;}
header .address a:hover {text-decoration: underline;}

.th_slider .sld_holder {display: block;}
.th_slider .item {position: relative;}
.th_slider .item img {width: 100%; height: auto;}
.th_slider .slide_caption {position: absolute; bottom: 150px; font: 36px 'RobotoB', Tahoma; color: #fff; letter-spacing: 2px; left: 15%; text-shadow: 0 0 3px #000;}


.intro {background: url('../img/section_bg.png') left bottom no-repeat; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; padding: 90px;}
.intro .right_side img {display: block; margin: 0 0 0 -50px;}
.intro .caption {font: 50px 'BodoniB', Tahoma; color: #504f4b; text-transform: uppercase; margin-bottom: 20px;}
.intro .separator {width: 100px; height: 3px; background: #e3cdb2; margin-left: -30px; margin-bottom: 25px;}
.intro .left_side {padding: 80px; border-left: 15px solid #e3cdb2; border-bottom: 15px solid #e3cdb2; position: relative; z-index: 33;}
.intro .left_side::before {content: ""; position: absolute; left: 0; top: 0px; height: 15px; background: #e3cdb2; width: 25%;}
.intro .left_side::after {content: ""; position: absolute; right: 0; bottom: 0px; width: 15px; background: #e3cdb2; height: 25%;}
.intro .content_target div, .intro .content_target p, .intro .content_target li, .intro .content_target span {letter-spacing: 1px; line-height: 24px; font-size: 16px; color: #504f4b;}

section.video {background: #111;}
.th_video {position: relative; width: 100%; height: auto; z-index: 10;}
.video .container {position: relative;}
.video .caption  {position: absolute; font: 60px 'BodoniB', Tahoma; color: #fff; top: 270px; left: 0%; z-index: 20; text-transform: uppercase; line-height: 50px; max-width: 90%;}
.video .caption::after {content: ""; height: 5px; width: 100px; background: #ab0200; display: block; margin-left: -20px; margin-top: 15px;}

.video .video_holder {position: relative;}
.video .controls {position: absolute; right: 0; height: 490px; width: 600px; top: 50%; margin-top: -245px; z-index: 30;}

.video .sound_switcher {width: 27px; height: 32px; background: url('../img/ico_mic.svg') left center no-repeat; cursor: pointer; float: right; margin-bottom: 40px; margin-right: 358px; transition-duration: 0.5s; position: relative;} 

.video .sound_switcher::after {content: ""; display: none; position: absolute; width: 2px; height: 40px; background: #e3cdb2; left: 0; top: 0; transform: rotate(138deg); -moz-transform: rotate(138deg); transform: -webkit-rotate(138deg); -o-transform: rotate(138deg); transform: -ms-rotate(138deg); left: 12px; top: -5px;} 

.video .sound_switcher.muted::after {display: block;}



.video .tracker {height: 418px; width: 292px; float: right; margin-right: 132px;}

#video_tracker circle {transition-duration: 0.5s;}
#video_tracker circle.hovered {fill: #fff; r: 10px;}
#video_tracker .circle_text.hovered {fill: #fff;}
#video_tracker .circle_text.active {fill: #fff;}
#video_tracker circle.active {fill: #fff; r: 12px;}

#c_part1, #c_part2, #c_part3, #c_part4, #c_part5 {position: relative;}

.video .tracker svg {height: 100%; overflow: visible;}

.circle_text {fill: #e3cdb2; text-transform: uppercase; font: 16px 'RobotoR', Tahoma; letter-spacing: 0px; cursor: pointer;}
#c_part1_t {transform: translate(-180px, 14px); transform: -webkit-translate(-180px, 14px); transform: -moz-translate(-180px, 14px); transform: -o-translate(-180px, 14px); -ms-transform: translate(-180px, 14px);}
#c_part2_t {transform: translate(-236px, 114px); transform: -webkit-translate(-236px, 114px); transform: -moz-translate(-236px, 114px); transform: -o-translate(-236px, 114px); transform: -ms-translate(-236px, 114px);}
#c_part3_t {transform: translate(-160px, 213px); transform: -webkit-translate(-160px, 213px); transform: -moz-translate(-160px, 213px); transform: -o-translate(-160px, 213px); transform: -ms-translate(-160px, 213px);}
#c_part4_t {transform: translate(-116px, 313px); transform: -webkit-translate(-116px, 313px); transform: -moz-translate(-116px, 313px); transform: -o-translate(-116px, 313px); transform: -ms-translate(-116px, 313px);}
#c_part5_t {transform: translate(-58px, 411px); transform: -webkit-translate(-58px, 411px); transform: -moz-translate(-58px, 411px); transform: -o-translate(-58px, 411px); transform: -ms-translate(-58px, 411px);}
/* 
.th_gal .preview {position: relative;}
.th_gal .preview .title {padding: 20px; text-align: center; color: #fff; font: 26px 'RobotoB', Tahoma; background: #d51820;}
.th_gal .preview img {width: 100%; height: auto;}
.th_gal .preview .controls {position: absolute; left: 0; right: 0; bottom: 0;}
.th_gal .preview .controls .control_item {padding: 20px 10px; background: rgba(0, 0, 0, 0.4); float: left; min-height: 74px; cursor: pointer;}
.th_gal .preview .controls .control_item.active {background: rgba(0, 0, 0, 0.7);}
.th_gal .preview .controls .prev {position: relative; border-right: 1px solid rgba(255, 255, 255, 0.7); transition-duration: 0.4s;}
.th_gal .preview .controls .prev::after {content: ""; position: absolute; width: 30%; height: 2px; left: 10%; top: 50%; margin-top: -1px; background: #fff; transition-duration: 0.4s;}

.th_gal .preview .controls .next {position: relative; border-left: 1px solid rgba(255, 255, 255, 0.7); transition-duration: 0.4s;}
.th_gal .preview .controls .next::after {content: ""; position: absolute; width: 30%; height: 2px; right: 10%; top: 50%; margin-top: -1px; background: #fff; transition-duration: 0.4s;}

.th_gal .preview .controls .prev:hover {background: rgba(0, 0, 0, 0.5);}
.th_gal .preview .controls .prev:hover::after {width: 80%;}

.th_gal .preview .controls .next:hover {background: rgba(0, 0, 0, 0.5);}
.th_gal .preview .controls .next:hover::after {width: 80%;}

.th_gal .preview .controls .prev {width: 42%;}
.th_gal .preview .controls .next {width: 42%;}
.th_gal .preview .controls .curr {width: 16%; text-align: center; color: #fff; font: 18px 'RobotoR', Tahoma;}
.th_gal .preview .controls .curr span {display: block; padding-top: 6px;}

.th_gal .item {padding: 28px 14px 0; cursor: pointer; overflow: hidden;}
.th_gal .item img {transition-duration: 0.3s; min-height: 149px; border-bottom: 2px solid transparent;}
.th_gal .item:hover img {opacity: 0.9;}

.th_gal .owl-item.active:first-child .item {padding-left: 0;}
.th_gal .owl-item.active:last-child .item {padding-right: 0;}

.th_gal {padding: 80px 0; margin-top: -10px;} */

a.fancybox:hover img {transition-duration: 0.3s;}
a.fancybox:hover img {opacity: 0.9;}

.th_gal .item.active img {border-bottom: 2px solid #d51820;}


.th_genplan {position: relative; overflow: hidden;}
#genplan_image {width: 100%; height: auto;}
#townhouses_svg {position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 31; width: 100%; height: auto;}

.th_svg_element:hover {opacity: 0.4 !important;}

.th_lines {padding: 80px 0; }
.th_lines .caption {font: 60px 'BodoniB', Tahoma; color: #fff; text-transform: uppercase; line-height: 50px; position: relative;}
.th_lines .caption::after {content: ""; height: 5px; width: 100px; background: #ab0200; display: block; margin-left: -20px; margin-top: 15px;}
.th_lines .lines {padding: 50px 0 50px 0;}
.th_lines .lines .item {border-left: 15px solid #e3cdb2; border-bottom: 15px solid #e3cdb2; position: relative; padding: 0; padding-top: 30px;}
.th_lines .lines .item::before {content: ""; position: absolute; top: 0; left: 0; width: 60%; height: 15px; background: #e3cdb2;}
.th_lines .lines .item::after {content: ""; position: absolute; bottom: 0; right: 0; width: 15px; height: 70%; background: #e3cdb2;}
.th_lines .lines .item .image img {width: 100%; height: 212px;}
.th_lines .lines .item .desc {padding: 30px;}

.th_lines .name .line {font: 16px 'RobotoB', Tahoma; color: #e3cdb2; text-transform: lowercase;}
.th_lines .name .line_name {font: 40px 'BodoniB', Tahoma; color: #fff; text-transform: uppercase;}
.th_lines .separator {height: 3px; background: #e3cdb2; width: 100px; margin-left: -10px; margin-bottom: 15px;}
.th_lines .lines .item ul {margin-bottom: 30px;}
.th_lines .lines .item ul li {font: 14px 'RobotoL', Tahoma; color: #d1d1d1; margin-bottom: 10px;}
.th_lines .lines .item ul li span {font: 24px 'RobotoB', Tahoma; color: #fff; margin-left: 10px;}
.th_lines .lines .item .th_layouts_btn {font: 14px 'RobotoR', Tahoma; color: #fff; text-align: center; padding: 12px 10px; border: 2px solid #e3cdb2; width: 80%; margin: 20px auto 10px; cursor: pointer; transition-duration: 0.3s;}
.th_lines .lines .item .th_layouts_btn:hover {background: #e3cdb2; color: #000;}

.th_info_block_1 {background: url('../img/section_bg.png') left bottom no-repeat; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain;}
.th_info_block_1 .row {padding: 90px; background: url('../img/smart_house.jpg') right center no-repeat; background-size: 44% 100%; -webkit-background-size: 44% 100%; -moz-background-size: 44% 100%; -o-background-size: 44% 100%; -ms-background-size: 44% 100%;}
.th_info_block_1 .right_side img {display: block; margin: 0 0 0 -50px;}
.th_info_block_1 .caption {font: 50px 'BodoniB', Tahoma; color: #504f4b; text-transform: uppercase; margin-bottom: 20px; line-height: 42px;}
.th_info_block_1 .separator {width: 100px; height: 3px; background: #e3cdb2; margin-left: -30px; margin-bottom: 25px;}
.th_info_block_1 .left_side {padding: 80px; border-left: 15px solid #e3cdb2; border-bottom: 15px solid #e3cdb2; position: relative;}
.th_info_block_1 .left_side::before {content: ""; position: absolute; left: 0; top: 0px; height: 15px; background: #e3cdb2; width: 25%;}
.th_info_block_1 .left_side::after {content: ""; position: absolute; right: 0; bottom: 0px; width: 15px; background: #e3cdb2; height: 25%;}
.th_info_block_1 .content_target div, .th_info_block_1 .content_target p, .th_info_block_1 .content_target li, .th_info_block_1 .content_target span {letter-spacing: 1px; line-height: 24px; font-size: 16px; color: #504f4b;}

.th_info_block_1 .icons table td {position: relative; padding: 10px 0;}
.th_info_block_1 .icons table td .text {font: 16px 'RobotoL', Tahoma; color: #504f4b; display: block; padding-left: 50px;}
.th_info_block_1 .icons table td .bg {display: block; width: 32px; height: 32px; background-repeat: no-repeat; background-position: center top; float: left; margin-right: 15px;}

.th_info_block_2 {background: #cdc6bd url('../img/communications.jpg') right center no-repeat; background-size: 44% 100%; -webkit-background-size: 44% 100%; -moz-background-size: 44% 100%; -o-background-size: 44% 100%; -ms-background-size: 44% 100%;}
.th_info_block_2 .row {padding: 90px;}
.th_info_block_2 .outer_item {background: rgba(0,0,0, 0.9); margin-left: -60px; padding: 50px;}
.th_info_block_2 .inner_item {border: 15px solid #e3cdb2; padding: 80px; border-top: 0; border-right: 0; position: relative;}
.th_info_block_2 .inner_item::before {content: ""; position: absolute; width: 50%; height: 15px; background: #e3cdb2; left: 0; top: 0;}
.th_info_block_2 .inner_item::after {content: ""; position: absolute; width: 15px; height: 45%; background: #e3cdb2; right: 0; bottom: 0;}
.th_info_block_2 .caption {font: 50px 'BodoniB', Tahoma; color: #fff; text-transform: uppercase; margin-bottom: 20px; line-height: 42px;}
.th_info_block_2 .separator {width: 100px; height: 3px; background: #e3cdb2; margin-left: -30px; margin-bottom: 25px;}

.th_info_block_2 .icon_table_set {padding: 20px 0 50px;}
.th_info_block_2 .icon_table_set td {overflow: hidden; padding-right: 50px;}
.th_info_block_2 .icon_table_set .bg {width: 60px; margin: 0 auto; background-repeat: no-repeat; background-position: center; background-size: contain; -webkit-background-size: contain; -moz-background-size: contain; -o-background-size: contain; -ms-background-size: contain; height: 60px;}
.th_info_block_2 .icon_table_set .text {font: 20px 'RobotoB', Tahoma; color: #fff; text-align: center; padding: 10px 0;}
.th_info_block_2 .additional li {color: #a0927f; margin-bottom: 10px;}
.th_info_block_2 .additional li span {color: #fff; font: 16px 'RobotoR', Tahoma; padding-left: 5px;}
.th_info_block_2 .additional ul {list-style-type: square; margin-left: 40px;}
.th_info_block_2 .additional .title {font: 18px 'RobotoB', Tahoma; color: #e3cdb2;}

.rd_th_layouts {padding: 90px;}
@media(min-width: 994px) {
    .rd_th_layouts .rd_th_layouts_holder {float: right;}    
}

.rd_th_layouts .caption {font: 50px 'BodoniB', Tahoma; color: #fff; text-transform: uppercase; margin-bottom: 20px; line-height: 42px;}
.rd_th_layouts .separator {width: 100px; height: 3px; background: #d51820; margin-left: -30px; margin-bottom: 25px;}
.rd_th_layouts .layouts_switcher p {color: #fff; font: 16px 'RobotoL', Tahoma; margin-bottom: 20px; margin-bottom: 60px;}
.rd_th_layouts .layouts_switcher {margin-bottom: 50px;}

.rd_th_layouts .layouts_switcher li {display: inline-block; margin-right: 2px;}
.rd_th_layouts .layouts_switcher li a {text-align: center; font: 24px 'RobotoL', Tahoma; color: #888888; padding: 10px 20px; transition-duration: 0.3s; border: 2px solid #888888; text-decoration: none;}
.rd_th_layouts .layouts_switcher li.active a {color: #fff; background: #d51820; border-color: #d51820;}
.rd_th_layouts .layouts_switcher li:hover:not(.active) a {color: #fff; background: transparent; color: #fff; border-color: #d51820;}

.rd_th_layouts .th_name {color: #fff; font: 30px 'RobotoB', Tahoma; margin-bottom: 10px;}
.rd_th_layouts .description {color: #fff; font: 14px 'RobotoL', Tahoma;}

.rd_th_layouts .top_owl {width: 100%; overflow: hidden; margin-bottom: 5px;}
.rd_th_layouts .top_owl .item {padding-left: 5px; padding-right: 5px;}
.rd_th_layouts .bot_owl {width: 100%; height: 50px;}
.rd_th_layouts .top_owl img {max-width: 100%; max-height: 460px; height: auto; width: auto;}
.rd_th_layouts .bot_owl img {max-width: 100%; max-height: 80px; height: auto; width: auto;}
.rd_th_layouts .bot_owl .item {text-align: center; padding: 5px;} 

.th_gal_owl {padding: 80px 0;}
.th_gal_owl .th_gal_top {display: block; position: relative;  margin-bottom: 10px; padding-left: 10px; padding-right: 10px;}
.th_gal_owl .th_gal_top .item {text-align: center; position: relative; padding-top: 0px;}
.th_gal_owl .th_gal_top .item img {max-width: 100%; max-height: 630px; width: auto; height: auto;}

.th_gal_owl .th_gal_top .item .title {position: absolute; left: 0; top: 0; width: 100%; background: #d51820; text-align: center; font: 26px 'RobotoB', Tahoma; color: #fff; padding: 20px; z-index: 50;}

.th_gal_owl .th_gal_bot .item {padding: 10px;}

.th_gal_owl .th_gal_bot .owl-item  .item {border-bottom: 2px solid transparent;}
/*.th_gal_owl .th_gal_bot .owl-item.current .item {border-bottom: 2px solid #d51820;} */
.th_gal_owl .th_gal_bot .item {}
.th_gal_owl .th_gal_bot .item img {max-width: 100%; max-height: 148px; height: auto; width: auto;}

.th_gal_owl .th_gal_top .owl-nav {position: absolute; left: 0; bottom: 0; width: 100%; padding: 20px 0; min-height: 74px;;}
.th_gal_owl .th_gal_top .owl-nav .owl-prev {padding: 20px 10px; background: rgba(0, 0, 0, 0.4); position: absolute; left: 0; bottom: 0; min-height: 74px;
    cursor: pointer; width: 42%;}
.th_gal_owl .th_gal_top .owl-nav .owl-next {padding: 20px 10px; background: rgba(0, 0, 0, 0.4); position: absolute; right: 0; bottom: 0; min-height: 74px;
        cursor: pointer; width: 42%;}

.th_gal_owl .th_gal_top .owl-nav .owl-prev::after {content: ""; position: absolute; width: 30%; height: 2px; left: 10%; top: 50%; margin-top: -1px; background: #fff; transition-duration: 0.4s;}
.th_gal_owl .th_gal_top .owl-nav .owl-next::after {content: ""; position: absolute; width: 30%; height: 2px; right: 10%; top: 50%; margin-top: -1px; background: #fff; transition-duration: 0.4s;}

.th_gal_owl .th_gal_top .owl-nav .owl-prev:hover::after, .th_gal_owl .th_gal_top .owl-nav .owl-next:hover::after {width: 80%;}
.th_gal_owl .th_gal_top .owl-nav .owl-prev:hover, .th_gal_owl .th_gal_top .owl-nav .owl-next:hover { background: rgba(0, 0, 0, 0.7);}
.th_gal_owl .th_gal_top .curr_image {width: 16%; position: absolute; left: 42%; bottom: 0; padding: 20px 10px; background: rgba(0, 0, 0, 0.4); min-height: 74px; padding-top: 25px;}
.th_gal_owl .th_gal_top .curr_image span {color: #fff; font: 18px 'RobotoR', Tahoma; text-align: center;}

.th_genplan {position: relative;}
.th_genplan .floating {background: rgba(0, 0, 0, 0.8); position: absolute; left: 0; top: 0; padding: 30px; color: #fff; display: none; z-index: 50;}
.th_genplan .floating .item_type {color: #fff; font: 14px 'RobotoR', Tahoma; margin-bottom: 7px;}
.th_genplan .floating .item_name {color: #fff; font: 38px 'BodoniB', Tahoma; padding-left: 5px; margin-bottom: 10px;}
.th_genplan .floating .separator {width: 40%; height: 3px; background: #d51820; margin-left: -10px; margin-bottom: 10px; }
.th_genplan .floating .area {color: #fff; font: 14px "RobotoL", Tahoma;}
.th_genplan .floating .area span {font-size: 24px; color: #fff; font-family: "RobotoB";}
.th_genplan .floating .add_area {color: #fff; font: 14px "RobotoL", Tahoma;}
.th_genplan .floating .add_area span {font-size: 24px; color: #fff; font-family: "RobotoB";}

@media(max-width: 1400px){
    .video .tracker {margin-right: 0;}
    .video .sound_switcher {margin-left: 200px; margin-right: 226px;;}
}

@media(max-width: 1200px){
    .th_slider .slide_caption {bottom: 80px; left: 10%;}
    .intro {padding: 40px;}
    .intro .left_side {padding: 50px;}
    .intro .right_side img {width: 100%; margin: 0;}
    .video .caption {font-size: 40px; line-height: 35px;}
    .video {}


    .th_lines .lines .item .desc {padding: 20px;}
    .th_lines .lines .item .image img {height: 153px;}
    .th_lines .name .line_name {font-size: 30px;}
    .th_lines .lines .item::after {right: -15px; bottom: -15px; height: 80%;}
    .th_lines .name .line {margin-bottom: 5px;}
    .th_lines .lines .item ul li {margin-bottom: 5px;}
    .th_lines .lines .item ul li span {margin-left: 5px; font-size: 22px;}

    .th_info_block_1 .row {padding: 40px; background: none;}
    .th_info_block_1 .left_side {padding: 50px 40px;}

    .th_info_block_1 .icons table {width: 100%;}
}

@media(max-width: 993px){
    .th_slider .slide_caption {font: 50px 'BodoniB', Tahoma; position: static; color: #504f4b; text-shadow: 0 0 0 #000; padding: 15px; text-align: center; width: 100%; letter-spacing: 0;}  
    .intro .left_side {margin-bottom: 40px; padding-bottom: 20px;}  
    .intro .caption {font-size: 35px;}
    .intro {padding: 25px;}

    .th_gal_owl {padding: 45px 0;}
    .th_gal_owl .th_gal_top .item .title {font-size: 20px; padding: 10px;}
    .th_gal_owl .th_gal_top .owl-nav .owl-prev, .th_gal_owl .th_gal_top .owl-nav .owl-next, .th_gal_owl .th_gal_top .owl-nav {min-height: 45px;}
    .th_gal_owl .th_gal_top .curr_image {min-height: 45px; padding: 10px; padding-top: 11px;}
    .th_gal_owl .th_gal_top {padding-left: 5px; padding-right: 5px; margin-bottom: 5px;}
    .th_gal_owl .th_gal_bot .item {padding: 5px;}
    .lines_outer_item {margin-bottom: 30px;}
    
    .th_lines {padding: 45px 0;}
    .th_lines .caption {font-size: 45px; line-height: 38px; padding: 0 15px;}
    .th_lines .lines {padding: 35px 0;}

    .th_info_block_1 .caption {font-size: 45px;}

    .icon_table_set table {display: none;} /* !!!!!!!!!!!!!!! */
    
    
    
}

@media(max-width: 768px){
    .th_lines .lines .item .image img {height: auto;}    
    .th_slider .slide_caption {font-size: 40px;}   
    .intro .left_side {padding-left: 20px; padding-right: 20px; border-width: 10px;} 
    .intro .left_side::after {width: 10px;}
    .intro .left_side::before {height: 10px;}
    .th_gal_owl .th_gal_top .item .title {font-size: 16px; padding: 10px;}    

    .th_lines .name .line {text-align: center;}
    .th_lines .name .line_name {text-align: center; font-size: 45px;}
    .th_lines .separator {margin-bottom: 20px;}
    .th_info_block_1 .icons table td {padding: 5px;}
    .th_info_block_1 .row {padding: 40px 15px;}
    .th_info_block_1 .left_side {padding: 50px 15px; border-width: 10px;}
    .th_info_block_1 .left_side::after {width: 10px;}
    .th_info_block_1 .left_side::before {height: 10px;}
    .th_info_block_1 .icons table td .bg {display: none;}
    .th_info_block_1 .icons table td .text {padding-left: 0;}
    .th_info_block_1 .separator {margin-left: 0;}
}